#hero-img {
  position: relative;
  float: left;
}

#img-text {
  position: absolute;
  bottom: 26em;
  left: 63em;
  text-align: center;
    h2 {
      color: #2f526b;
    }
    h4 {
      color: #6da0bf;
    }
    .button {
      background-color: rgba(255,255,255,0);
      border: 2px solid black;
      padding: 1em;
      color: black;
      &:hover{
        box-shadow: .25px .25px 1px black;
      }
    }
}

#glasses-img {
}
